* {
	font-family: "Roboto", sans-serif;
}
body,
html {
	margin: 0;
	height: 100%;
	color: white;
}

.desktop_nav_bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 56px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.975);
	box-shadow: 0 4px 8px 0 rgba(85, 54, 54, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	white-space: nowrap;
	box-sizing: border-box;
	z-index: 2;
}
.logo {
	display: inline-block;
	font-size: 20px;
	color: blueviolet;
	font-weight: bold;
	position: fixed;
	left: 25px;
	top: 15px;
	z-index: 3;
}
.nav_link {
	padding: 17px 15px;
	text-decoration: none;
	color: rgb(60, 60, 60);
	font-size: 17px;
	display: inline-block;
}
.main {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(res/back.jpg);
	width: 100%;
	height: 100%;
	display: block;
	overflow: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.menu_btn {
	position: fixed;
	right: 22px;
	top: 5px;
	border: none;
	background-color: transparent;
	font-size: 31px;
}
.gbutton {
	border: none;
	border-radius: 7px;
	padding: 10px;
	width: 110px;
	font-size: 23px;
	color: white;
	font-weight: bold;
	margin: 7px;
	background-image: linear-gradient(
		to right,
		rgba(116, 17, 255, 0.9),
		rgba(170, 0, 255, 0.9)
	);
}
.mob_nav_bar {
	width: 50%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: -100%;
	transition: 1s ease;
	background-color: white;
	z-index: 1;
}
.mob_nav_link {
	padding: 20px 15px;
	text-decoration: none;
	color: rgb(60, 60, 60);
	font-size: 17px;
	display: block;
}
.dlink {
	padding: 4px;
	display: block;
}
.end{
	width:125%;
	height:120px;
	background-color: white;
	position: absolute;
	bottom:-120px;
	left:-12.5%;
	text-align: center;
	color:rgb(60, 60, 60);
	display: block;

}